*{
border: 0px;
padding: 0px;
margin: 0px;
}
body{
    background-color: black;
    color: white;
    background-size: cover;
    background: linear-gradient(292deg, rgb(39, 43, 44) 0.00%, rgb(241, 60, 43) 100.00%);
}

h1{
    text-align: center;
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: rgb(254, 255, 253);
    text-shadow: 0 0 10px rgb(101, 221, 85);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: rgb(242, 243, 242);
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    /* margin-top: 50px; */
}
.calculator{
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    position: absolute;
    width: 450px;
    height: 450px;
    justify-self: center;
    align-self: center;
    border: 3px solid rgb(153, 197, 247);
    backdrop-filter: blur(15px);
    border-radius: 20px;

}
.calculator .screen{
    margin-left: 20px;
    position: relative;
    margin-top: 20px;
    height: 70px;
    width: 400px;
    margin-bottom: 40px;
    border: 2px solid rgb(126, 233, 188);
}
.calculator .rows{
    position: relative;
    display: flex;
    justify-content:space-around;
    padding-bottom: 20px;
}
.calculator .rows .button{
    border: 3px solid rgb(60, 60, 70);
    width: 80px;
    font-size: large;
    height: 40px;
   border-radius: 15px;
box-shadow: 0 0 15px rgba(101, 221, 85, 0.4);
justify-items: center;

    background: transparent;
    color: rgb(101, 221, 85);
      cursor: pointer;
}
.calculator .rows #c , #min , #divi ,#add ,#mul , #wro ,#eqa ,#per{
    border: 3px solid rgb(60, 60, 70);
    width: 80px;
    font-size: x-large;
    height: 40px;
    border-radius:50px ;
    background: transparent;
    color: rgb(101, 221, 85);
}
.button:active {
  transform: scale(0.95);
  box-shadow: 0 0 10px lime;
}
